body {
    background-color: darkgray;
    background-image: url('../src/asset/blue-cloudy-sky-landscape-background-free-vector.webp');
}

input {
    all: unset;
}

#mainContainer {
    display: flex;  
    justify-content: center;  
    align-items: center;  
    flex-direction: column;
    margin-top: 50px;
}