@font-face {
    font-family: 'weather-style';
    src: url(../src/asset/Unbounded-VariableFont_wght.ttf);
}

body {
    background-color: darkgray;
    background-image: url('../src/asset/blue-cloudy-sky-landscape-background-free-vector.png');
}

input {
    all: unset;
    cursor: pointer;
}

button {
    all: unset;
    cursor: pointer;
}

#mainContainer {
    display: flex;  
    justify-content: center;  
    align-items: center;  
    flex-direction: column;
    margin-top: 100px;
}

#searchField {
    background-color: rgba(151, 204, 231, 0.747);
    border: rgba(164, 217, 243, 0.747) solid 3px;
    border-radius: 4px;
    padding: 5px;
    margin-right: 10px;
}

#searchB {
    background-color: rgb(107, 156, 204);
    padding: 5px;
    border-radius: 4px;
}

#weatherDiv {
    display:grid;
    margin-top: 50px;
    justify-content: space-around;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(53, 53, 53);
    color:aliceblue;
    padding: 15px;
    border-radius: 5px;
    font-family: 'weather-style';
    
    
}

#nameID {
    grid-row: 1;
    font-weight: bold;
    font-family: 'weather-style';
}

#iconID {
    grid-row: 2 / 5;
}

#feelID {
    font-style: italic;
    font-size: 12px;
    opacity: 0.7;
}

#FnC {
    border-style: solid;
    border-color: rgb(148, 147, 147);
    padding: 5px;
    border-radius: 8px;
}


#footer {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 0.5em;
    padding: 0.5em;
    background-color: aliceblue;
    grid-row: 4;
    grid-column: 4;
    /*border: 1px red solid;*/
    position: fixed;
    width: 100%;
    bottom:0;
    left:0;
    right:0;
    margin-top: 120px  
}